[submodule "151140_mernbookstoreinventoryserver/mern-book-store-inventory-server-main"]
	path = 151140_mernbookstoreinventoryserver/mern-book-store-inventory-server-main
	url = https://github.com/mrvnsyh/MERN-fullstack-website-bookstore.git
